services:
  app:
    build: .
    depends_on:
      - mongo-db-instance
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    stdin_open: true
    tty: true
  mongo-db-instance:
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - type: bind
        source: ./mongo-data
        target: /data/db